{% extends "app_staff/base.html" %}
{% block pagetitle %}Class Schedule{% endblock %}
{% block title %}Schedule{% endblock %}
{% block content %}
<div id="schedule-view" >
                    <div class="bg-white p-8 rounded-[2rem] border border-slate-200 shadow-sm text-center">
                        <h3 class="text-xl font-bold text-slate-900 mb-2">Class Schedule</h3>
                        <p class="text-slate-500">The academic schedule for Basic 4A is currently being finalized.</p>
                    </div>
                </div>
{% endblock %}
{% block scripts %}
<script>
    function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    const overlay = document.getElementById('overlay');

    sidebar.classList.toggle('-translate-x-full');
    overlay.classList.toggle('hidden');
}
</script>
{% endblock %}