# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
*.log
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Linux
*.swp
